.todo {
    margin-bottom: 1rem;
    position: relative;
  }
  
  .flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .gap-small {
    gap: 0.5rem;
  }
  
  .delete {
    position: absolute;
    right: 0;
  }